<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ast.carwash_nadeemahmed">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".Activities.Activities.Utils.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Car Wash"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Activities.Activities.Activities.Splash_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity
            android:name=".Activities.Activities.Activities.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activities.Activities.Activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activities.Activities.Activities.CustomerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Activities.Activities.Activities.ServiceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activities.Activities.Activities.TransactionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activities.Activities.Activities.ComplaintActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".Activities.Activities.Activities.OwnerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            />
        <activity android:name=".Activities.Activities.Activities.Message_NotificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            />
        <activity android:name=".Activities.Activities.Activities.ProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="portrait"

            ></activity>
    </application>

</manifest>